<h1>Where is Waldo ?</h1>

<div id="game">
	<%= image_tag(@game.image, class: 'game-img', id: @game.id) %>
</div>
<div class="characters">
	<ul class="char-list lolo">
	<% @game.characters.each do |char| %>
		<li char_id=<%= char.id %>>
			<%= image_tag(char.image, class: 'char-img') %>
		</li>
	<% end %>
	</ul>
</div>