// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	text-align: center;
}

.create-player {
	position: absolute;
	top: 200px;
	transform: translate(-50%, 0);
	left: 50%;
	background: #080404cc;
	width: 500px;
	height: 150px;
	border-radius: 5px;

	h1 {
		color: white;
	}

	.player-form {
		width: 350px;
		margin: auto;
	}
}



.test {
	position: absolute;
	background-color: red;
	width: 25px;
	height: 25px;
}

.char-list {
	list-style: none;
	padding: 0;
	margin-left: 15px;

	li {
		padding: 5px;
		border: 1px solid red;
		border-radius: 5px;
	}
}

.found {
	display: none;
}

.characters {
	display: inline-block;
	vertical-align: top;
}

.char-img {
	width: 100px;
}

#game {
	display: inline-block;
}

#game img {
	width: 1000px;
	height: 800px;
}